* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.main {
    margin:0 auto;
    width: 900px;
}
.main-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

h1 {
   font-size: 40px;
    font-weight: 500;

}
td,th {
    padding: 10px 20px 10px 10px;
    border: 1px solid #000000;
    line-height: 20px;

}
th{
    background-color: darkgray;
    color: #ffffff;
}